[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
csvkit = "*"
ipython = "*"
pylint = "*"
black = "*"
pytest = "*"
rope = "*"

[packages]
irsx = "*"
pandas = "*"
lxml = "*"
cssselect = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
